PORT=3000
APP_NAME=VeriTix Backend

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=veritix_db
DATABASE_SSL=false

ACCESS_TOKEN_SECRET=dev_access_secret_change_me
REFRESH_TOKEN_SECRET=dev_refresh_secret_change_me
ACCESS_TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=7d

STELLAR_NETWORK=testnet
STELLAR_RECEIVING_ADDRESS=
STELLAR_PLATFORM_ADDRESS=
STELLAR_SECRET_KEY=

ORDER_EXPIRY_MINUTES=15
