name: Render PR Preview

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Render (or trigger preview)
        run: |
          echo "Trigger your Render deployment here, e.g., via Render Deploy Hook"
          curl -X POST https://api.render.com/deploy/srv-d069ees9c44c73fc0cr0?key=UaPGsJy9E0A
